<div name="newAnswer">
    <div class="row" id="content">

        {{#if question}}

            <div class="medium-8 columns">
                <div class="question blog-post">
                    <h3>{{question.title}}</h3>
                    <p>{{question.description}}</p>
                    <div class="callout">
                        <ul class="menu simple">
                            <li><a href="/accounts/{{question.author}}">Asked by: {{question.author}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-post">
                <div class="medium-12 column">
                    <h3>New Answer</h3>
                </div>
                <form class="question-answer" method="POST" action="/questions/by-id/{{question.id}}/new-answer">
                    <div class="medium-12 column">
                        <textarea rows="10" cols="50" name="content" id="answerContent" 
                            placeholder="Answer">{{#if question.answer}}{{question.answer}}{{/if}}</textarea>
                    </div>

                    <input type="hidden" name="questionTitle" value="{{question.title}}" />
                    <input type="hidden" name="questionDescription" value="{{question.description}}" />
                    <input type="hidden" name="questionAuthor" value="{{question.author}}" />
                    <input type="hidden" name="_csrf" value="{{csrfToken}}" />

                    <div class="small-6 column">
                        <input type="submit" class="button" value="Submit answer">
                    </div>

                    <ul id="errorMessages">
                        {{#if validationErrors}}
                            {{#each validationErrors}}
                                <li>{{this}}</li>
                            {{/each}}
                        {{/if}}
                    </ul>

                </form>
            </div>

            {{!-- <form class="question-answer" method="POST" action="/questions/by-id/{{question.id}}/new-answer">
                <br>
                <input type="text" name="content" id="answerContent" placeholder="Answer"
                    {{#if question.answer}}
                        value="{{question.answer}}"
                    {{/if}}
                />
                <br>
                <input type="hidden" name="questionTitle" value="{{question.title}}" />
                <input type="hidden" name="questionDescription" value="{{question.description}}" />
                <input type="hidden" name="questionAuthor" value="{{question.author}}" />
                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                <input type="submit" class="button" value="Submit answer" />
                <br>
                <ul id="errorMessages">
                    {{#if validationErrors}}
                        {{#each validationErrors}}
                            <li>{{this}}</li>
                        {{/each}}
                    {{/if}}
			    </ul>
            </form> --}}

        {{else}}

            <h3>Question does not exist.</h3>

        {{/if}}

    </div>
</div>

<script src="../views/client-validation/answer-validator.js"></script>