<div name="editQuestion">

    {{#if question}}

        <form method="POST" action="/questions/by-id/{{question.id}}/edit">
            <input type="text" name="questionTitle" placeholder="Question" value="{{question.title}}" />
            <br>
            <input type="text" name="questionDescription" placeholder="Description" value="{{question.description}}" />
            <br>
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            <input type="submit" class="button" value="Submit question" />
            <br>
            <div id="error-message"></div>
        </form>
    
    {{else}}
        <h3>Question does not exist.</h3>
    {{/if}}

</div>

<script src="../views/client-validation/question-validator.js"></script>