{{#if questions}}
    {{#each questions}}
        <div class="question">
            <h3>Question: {{question}}</h3>
            <br>
            <p>Description: {{description}}</p>
            <br>
            <p>Author: {{author}}</p>

        </div>
    {{/each}}

    {{#if answers}}
        {{#each answers}}
                <div class="answer">
                    <p>Answer: {{answer}}</p>
                    <p>Author: {{author}}</p>
                </div>
            {{/each}}
        
    {{/if}}
{{/if}}

            
    {{/each}}
{{else}}
    <p>No content.</p>
{{/if}}