{{#if question}}

    <div class="question">
        <h3>{{question.title}}</h3>
        <br>
        <p>{{question.description}}</p>
        <br>
        <p>Asked by: {{question.author}}</p>
        <br>
    </div>

    {{#if userStatus}}
        {{#ifNot userStatus.username author}}
            <form method="GET" action="/questions/by-id/{{question.id}}/new-answer">
                <input type="hidden" name="title" value="{{question.title}}" />
                <input type="hidden" name="description" value="{{question.description}}" />
                <input type="hidden" name="author" value="{{question.author}}" />
                <input type="submit" class="btn" value="Post new answer" />
                <br>
            </form>
        {{/ifNot}}
    {{/if}}

    {{#if answers}}
        {{#each answers}}
        <div class="answer">
            <p>{{content}}</p>
            <br>
            <p>{{author}}</p>
        </div>
        {{/each}}
    {{/if}}

{{else}}

    <p>Question does not exist.</p>

{{/if}}
