<div name="questions">
    <div class="row" id="content">
        
        {{#if questions}}
            {{#each questions}}

                <div class="medium-8 columns">
                    <div class="question blog-post">
                        <h3>{{title}}</h3>
                        <p>{{description}}</p>
                        <div class="callout">
                            <ul class="menu simple">
                                <li>
                                    {{#ifNot author "Deleted user"}}
                                        <a href="/accounts/by-name/{{../author}}">Asked by: {{../author}}</a>
                                    {{/ifNot}}
                                    {{#ifEquals author "Deleted user"}}
                                        Asked by: {{../author}}
                                    {{/ifEquals}}
                                </li>
                            </ul>
                        </div>
                    </div>

                    {{#if answers}}
                        {{#each answers}}
                           <div class="answer blog-post">
                                <p>Answer: {{content}}</p>
                                <p>{{description}}</p>
                                <div class="callout">
                                    <ul class="menu simple">
                                        <li>
                                            {{#ifNot author "Deleted user"}}
                                                <a href="/accounts/by-name/{{../author}}">Author: {{../author}}</a>
                                            {{/ifNot}}
                                            {{#ifEquals author "Deleted user"}}
                                                Author: {{../author}}
                                            {{/ifEquals}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {{/each}}
                    {{/if}}

                </div>

            {{/each}}
        {{else}}
            <h3>No content.</h3>
        {{/if}}

        {{> question-categories}}

    </div>
</div>