<div name="questions">
    <div class="row" id="content">
        
        {{#if questions}}
            {{#each questions}}

                <div class="medium-8 columns">
                    <div class="blog-post">
                        <h3>{{title}}</h3>
                        <p>{{description}}</p>
                        <div class="callout">
                            <ul class="menu simple">
                                <li><a href="#">Asked by: {{author}}</a></li>
                            </ul>
                        </div>
                    </div>
                    {{#unless isAnswered}}
                        {{#ifEquals ../userStatus.username author}}
                            <form method="GET" name="editQuestion" action="/questions/by-id/{{../id}}/edit">
                                <input type="hidden" name="title" value="{{../title}}" />
                                <input type="hidden" name="description" value="{{../description}}" />
                                <input type="hidden" name="author" value="{{../author}}" />
                                <input type="submit" class="button" value="Edit" />
                                <br>
                            </form>

                            <form method="POST" name="deleteQuestion" action="/questions/by-id/{{../id}}/delete">
                                <input type="hidden" name="_csrf" value="{{@root.csrfToken}}" />
                                <input type="submit" class="button" value="Delete" />
                            </form>
                        {{/ifEquals}}
                    {{/unless}}
                    
                    
                    {{#ifNot ../userStatus.username author}}
                        <form method="GET" name="newAnswer" action="/questions/by-id/{{../id}}/new-answer">
                            <input type="hidden" name="questionTitle" value="{{../title}}" />
                            <input type="hidden" name="questionDescription" value="{{../description}}" />
                            <input type="hidden" name="questionAuthor" value="{{../author}}" />
                            <input type="submit" class="button" value="Post new answer" />
                            <br>
                        </form> 
                    {{/ifNot}}

                    {{#if answers}}
                        {{#each answers}}
                        
                            <div class="answer">
                                <p>Answer: {{content}}</p>
                                <br>
                                <p>Author: {{author}}</p>
                                <br>
                            </div>

                            {{#ifEquals @root.userStatus.username author}}
                                <form method="GET" name="editAnswer" action="/questions/by-id/{{../../id}}/edit-answer/{{../id}}">
                                    <input type="hidden" name="content" value="{{../content}}" />
                                    <input type="hidden" name="questionTitle" value="{{../../title}}" />
                                    <input type="hidden" name="questionDescription" value="{{../../description}}" />
                                    <input type="hidden" name="questionAuthor" value="{{../../author}}" />
                                    <input type="submit" class="button" value="Edit" />
                                    <br>
                                </form>

                                <form method="POST" name="deleteAnswer" action="/questions/by-id/{{../../id}}/delete-answer/{{../id}}">
                                    <input type="hidden" name="_csrf" value="{{@root.csrfToken}}" />
                                    <input type="submit" class="button" value="Delete" />
                                </form>
                            {{/ifEquals}}

                        {{/each}}
                    {{/if}}

                </div>

            {{/each}}
        {{else}}
            <h3>No content.</h3>
        {{/if}}

        {{> question-categories}}

    </div>
</div>